<h3>Add book</h3>

<form action="/add_book" method="post"> 
	<label for="title">Title: </label>
	<input type="text" name="title" required>
	<label for="author">Author: </label>
	<input type="text" name="author" required>
	<p>
	<br>
	<input type="submit" name="Submit">
	<br>
</form>
<form action="/books" >
	<input type="submit" value="List of Books">
</form>

<form action="/logout" >
	<input type="submit" value="Logout">
</form>
