<h3>Welcome <%= current_user.user_name %></h3>

<% if @books.any? %>
	<% @books.each do |book| %>
		<p>
			Title: <%= book.title %>
			<br>
			Author: <%= book.author %>
			<br>
			<a href="/books/<%= book.id%>">Details</a>
		</p>
	<% end %>
<% else %>
	<p> Not found. </p>
<% end %>

<form action="/add_book">
	<input type="submit" value="Add Book">
</form>

<form action="/logout" >
	<input type="submit" value="Logout">
</form>
